<!DOCTYPE html>
<html lang="en">
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>About | Ecomansa</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../images/mansa-logo-removebg-preview.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../images/mansa-logo-removebg-preview.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../style.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="../css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/custom.css">

    <!-- Modernizer for Portfolio -->
    <script src="../js/modernizer.js"></script>

  <style>
      .logo-con img{
            max-width: 4rem;
        }
  </style>

</head>
<body class="host_version"> 

    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	

    <!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<div class="logo-con">
                    <a href="/"> <img src="./images/mansa-logo-removebg-preview.png" alt=""></a>
                </div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item active"><a class="nav-link" href="/about">About Us</a></li>
						<li class="nav-item"><a class="nav-link" href="/stories">Stories</a></li>
						<li class="nav-item btn"><a class="nav-link" href="/admin">Admin</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	
	<!-- <div class="all-title-box">
		<div class="text-center">
			<h1>About Us</h1>
		</div>
	</div> -->
	
    <div id="overviews" class="section lb">
        <div class="container">
        
            <div class="row align-items-center abt1">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h4>Ecomansa</h4>
                        <h2>Know about us</h2>
                        <br>
                        <br>
                        <p>
                            ECOMANSA is a student association, also known as a student organization, which is a group formed by students with common interests and goals. ECOMANSA is typically found at the University of The Gambia, in the School of Business and Public Administration. 
                        <br>
                        <br>
                            The purpose of ECOMANSA is to provide a platform for students to engage in activities related to their interests, develop new skills, foster social connections, and contribute to the overall student experience.
                        <br>
                        </p>

                        <!-- <a href="#" class="hover-btn-new orange"><span>Learn More</span></a> -->
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="https://i.pinimg.com/originals/50/78/a0/5078a05eb1b6847d93383eaa4c0ed500.gif" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
			</div>
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="https://media.istockphoto.com/id/1286378180/vector/website-information-concept.jpg?s=612x612&w=0&k=20&c=6v9Hcbp0zp5itIPIywobPQF13YsHIQ4j_srF5VbQusY=" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h2>Our humble union</h2>
                        <ul>
                            <li>Firstly, the union (ECOMANSA) often organizes various academic events, workshops, and seminars that complement the curriculum and provide additional learning opportunities. These events can help students further develop their knowledge and skills in specific subjects of interest.</li>
                            <li>Secondly, the union (ECOMANSA) often facilitates networking and mentorship programs, connecting students with professionals in their desired fields. This not only helps students gain valuable insights and guidance but also opens doors to potential internships, job opportunities, and industry connections.</li>
                            <li>Moreover, the union (ECOMANSA) often offers leadership and volunteering opportunities, allowing students to take on organizational roles and develop essential skills such as communication, teamwork, problem-solving, and time management. These experiences enhance their employability and contribute to their personal and professional growth.</li>
                        </ul>

                        <!-- <a href="#" class="hover-btn-new orange"><span>Learn More</span></a> -->
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <section class="team" id="team">
        <div class="team-container">
            <div class="team-content">
                <div>
                    <h1>Our Team</h1>
                </div>
                <div class="team-description">
                    <p>The members of the 20th Executive council of Ecomansa</p>
                </div>
                <div>
                    <div class="scroller">
                        <div class="inner-scroller">
                        <div id="person1">
                            <div>
                                <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/attachments/delivery/asset/8cf5cafc371a0c6ae5af29fa7f148a93-1669602142/Avatar564/create-animated-discord-profile-pic-avatar-gif.gif" alt="">
                            </div>
                            <div class="person-description-wrapper">
                                <div>
                                    <h2 class="team-fullname">Abdoulie Juawara</h2>
                                     <h3 class="team-role">President</h3>
                                     <h4 class="team-major">Major: Management</h4>
                                </div>
                            </div>                        
                        </div>
                        <div id="person2">
                            <div>
                                <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/attachments/delivery/asset/8cf5cafc371a0c6ae5af29fa7f148a93-1669602142/Avatar564/create-animated-discord-profile-pic-avatar-gif.gif" alt="">
                            </div>
                            <div class="person-description-wrapper">
                                <div>
                                    <h2 class="team-fullname">Mariama Jatta</h2>
                                     <h3 class="team-role">Vice President</h3>
                                     <h4 class="team-major">Major: Marketing</h4>
                                </div>
                            </div>                     
                        </div>
                        <div id="person3">
                            <div>
                                <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/attachments/delivery/asset/8cf5cafc371a0c6ae5af29fa7f148a93-1669602142/Avatar564/create-animated-discord-profile-pic-avatar-gif.gif" alt="">
                            </div>
                            <div class="person-description-wrapper">
                                <div>
                                    <h2 class="team-fullname">Muhammed Kah</h2>
                                     <h3 class="team-role">Secretary general</h3>
                                     <h4 class="team-major">Major: Management</h4>
                                </div>
                            </div>                        
                        </div>
                        <div id="person4">
                            <div>
                                <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/attachments/delivery/asset/8cf5cafc371a0c6ae5af29fa7f148a93-1669602142/Avatar564/create-animated-discord-profile-pic-avatar-gif.gif" alt="">
                            </div>
                            <div class="person-description-wrapper">
                                <div>
                                    <h2 class="team-fullname">Lamin Jah</h2>
                                     <h3 class="team-role">Finance minister</h3>
                                     <h4 class="team-major">Major: Accountancy</h4>
                                </div>
                            </div>                        
                        </div>
                        <div id="person5">
                            <div>
                                <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/attachments/delivery/asset/8cf5cafc371a0c6ae5af29fa7f148a93-1669602142/Avatar564/create-animated-discord-profile-pic-avatar-gif.gif" alt="">
                            </div>
                            <div class="person-description-wrapper">
                                <div>
                                    <h2 class="team-fullname">Sainey Kora</h2>
                                     <h3 class="team-role">Infofrmation and comunication minister</h3>
                                     <h4 class="team-major">Major: Accountancy</h4>
                                </div>
                            </div>                        
                        </div>
                        <div id="person6">
                            <div>
                                <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/attachments/delivery/asset/8cf5cafc371a0c6ae5af29fa7f148a93-1669602142/Avatar564/create-animated-discord-profile-pic-avatar-gif.gif" alt="">
                            </div>
                            <div class="person-description-wrapper">
                                <div>
                                    <h2 class="team-fullname">Sherif Keita</h2>
                                     <h3 class="team-role">Research</h3>
                                     <h4 class="team-major">Major: Economics</h4>
                                </div>
                            </div>                        
                        </div>
                        <div id="person7">
                            <div>
                                <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/attachments/delivery/asset/8cf5cafc371a0c6ae5af29fa7f148a93-1669602142/Avatar564/create-animated-discord-profile-pic-avatar-gif.gif" alt="">
                            </div>
                            <div class="person-description-wrapper">
                                <div>
                                    <h2 class="team-fullname">Sang Paul T Mendy</h2>
                                     <h3 class="team-role">Welfare minister</h3>
                                     <h4 class="team-major">Major: Publick administration</h4>
                                </div>
                            </div>                        
                        </div>
                        <div id="person8">
                            <div>
                                <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/attachments/delivery/asset/8cf5cafc371a0c6ae5af29fa7f148a93-1669602142/Avatar564/create-animated-discord-profile-pic-avatar-gif.gif" alt="">
                            </div>
                            <div class="person-description-wrapper">
                                <div>
                                    <h2 class="team-fullname">Lamin Colley</h2>
                                     <h3 class="team-role">Sport minister</h3>
                                     <h4 class="team-major">Major: Public Administration</h4>
                                </div>
                            </div>                        
                        </div>
                        <div id="person9">
                            <div>
                                <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/attachments/delivery/asset/8cf5cafc371a0c6ae5af29fa7f148a93-1669602142/Avatar564/create-animated-discord-profile-pic-avatar-gif.gif" alt="">
                            </div>
                            <div class="person-description-wrapper">
                                <div>
                                    <h2 class="team-fullname">Musa Dampha</h2>
                                     <h3 class="team-role">Technical and logistics minister</h3>
                                     <h4 class="team-major">Major: Economics</h4>
                                </div>
                            </div>                        
                        </div>
                        <div id="person10">
                            <div>
                                <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/attachments/delivery/asset/8cf5cafc371a0c6ae5af29fa7f148a93-1669602142/Avatar564/create-animated-discord-profile-pic-avatar-gif.gif" alt="">
                            </div>
                            <div class="person-description-wrapper">
                                <div>
                                    <h2 class="team-fullname">Bintou Hydara</h2>
                                     <h3 class="team-role">Auditor general</h3>
                                     <h4 class="team-major">Major: Accountancy</h4>
                                </div>
                            </div>                        
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Our Socials</h3>
                        </div>
						<div class="footer-right">
							<ul class="footer-links-soi">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							</ul><!-- end links -->
						</div>						
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Partnerships</h3>
                        </div>
                        <ul class="footer-links">
                            <li>CHOICE FM</li>
                            <li>GOMINDZ Inc.</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:#">ecomansa2019@gmail.com</a></li>
                            <li>Faraba, The Gambia</li>
                            <li>SG: +220 3555869 | IPRO: +220 3630261</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name">&copy;Gomindz Inc.</p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="../js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../js/custom.js"></script>

</body>
</html>