<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Ecomansa | Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/admin.css">
        <link rel="stylesheet" href="css/tables.css">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/">Ecomansa Admin</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form
            class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"
          >
            <div class="input-group">
              <input
                class="form-control"
                type="text"
                placeholder="Search for..."
                aria-label="Search for..."
                aria-describedby="btnNavbarSearch"
              />
              <button class="btn btn-primary" id="btnNavbarSearch" type="button">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><button class="dropdown-item" id="logout-button">Logout</button></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="#">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Admin
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="progress-box-con">
                        <div>
                            <div>
                                <h4>Registered Student</h4>
                            </div>
                            <div>
                                <i class="fas fa-profile me-1"></i>
                            </div>
                            <div>
                                <h1>+700</h1>
                            </div>
                        </div>
                        
                    </div>                        
                    <div class="container-fluid px-4">
                        <div class="table-title-con">
                            <h1 class="mt-4">Tables</h1>
                            <h1 class="new-user">+</h1>
                          </div>
                          <div class="to-fill">
                            <div>
                              <form class="to-fill-form">
                                <div>
                                  <div class="title-con">
                                    <div>
                                      <h3>Add new student</h3>
                                    </div>
                                    <!-- <div class="close-to-fill"><h3>+</h3></div> -->
                                  </div>
                                  <div class="ic">
                                   <div class="inputs-con">
                                     <div>
                                    <div>
                                      <label for="First name">Full name</label>
                                      <input required id="first-name" type="text" placeholder="first name" />
                                    </div>
                                    <div>
                                      <label for="Last name">Email</label>
                                      <input required id="email" type="email" placeholder="email@example.com" />
                                    </div>
                                    <div>
                                      <label for="Mat-number">Mat-number</label>
                                      <input required id="mat-number" type="text" placeholder="mat-number" />
                                    </div>
                                    
                                    </div>
                                    <div class="inputs-con0">
                                      <div>
                                      <label for="First name">Address</label>
                                      <input required id="address" type="text" placeholder="address" />
                                    </div>
                                    <div>
                                      <label for="Last name">Date</label>
                                      <input required id="date" type="date" placeholder="date" />
                                    </div>
                                    <div>
                                      <label>Status</label>
                                      <select name="select" id="select" class="tf-sel">
                                        <option value="Pending">Pending</option>
                                        <option value="Completed">Completed</option>
                                        <option value="Not paid">Not paid</option>
                                      </select>
                                    </div>
                                    </div>
                                   </div>
                                  
                                    <div class="action-con">
                                      <div class="actions">
                                      <div>
                                        <input id="create" type="submit" value="Create" />
                                      </div>
                                      <div>
                                        <input class="cancel" type="button" value="Cancel" />
                                      </div>
                                    </div>
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                List of students
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                    </thead>
                                    <tbody class="studentList">
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">&copy;Gomindz Inc.</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="js/logout.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
                                      <tr>
                                          <th>Name</th>
                                          <th>Mat Number</th>
                                          <th>Contact </th>
                                          <th>Major</th>
                                          <th>Amount</th>
                                          <th>Date</th>
                                          <th>Gender</th>
                                          <th>Intake</th>
                                          <th>Status</th>
                                      </tr>
