.gender-container {
    display: flex;
    gap: 2rem ;
}

select  {
    padding: .5rem 2rem;
}

.intake select {
    margin-bottom: 2rem;
}

.progress-box-con {
    display: flex;
}

.progress-box-con > div {
    background: #0d6efd;
    border-radius: 5px;
    margin: 1rem 5%;
    width: 50%;
    height: 150px;
    padding: .75rem;
    color: #ffffff;
    
}


.rad {
    display: flex;
    justify-content: space-between;
}

.rad > div {
    cursor: pointer;
    padding: 0 1rem;
}

.actions input {
    padding: .5rem 1rem;
}

