.team {
  padding: 4rem;
}

.team-content > div h1 {
  font-size: 46px;
  font-weight: 600;
}

.scroller {
  max-width: 100%;
}

.scroller[data-animated="true"] {
  overflow: hidden;
}

.scroller[data-animated="true"] .inner-scroller {
  animation: scroll 40s linear infinite;
  flex-wrap: nowrap;
  width: max-content;
}

.inner-scroller {
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.person-description-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4c5a7d;
  padding: 2rem;
}

.team-role,
.team-fullname,
.team-major {
  color: #fff;
}

/* RESPONSIVE TEAM SECTION */

/* RESPONSIVE TEAM SECTION */

@media screen and (max-width: 820px) {
  .scroller[data-animated="true"] .inner-scroller {
    animation: none; /* Stop the scrolling animation */
    flex-wrap: nowrap; /* Prevent wrapping */
    overflow-x: hidden; /* Hide horizontal overflow */
    width: 100%; /* Full width */
    justify-content: center; /* Center the items vertically */
  }

  .inner-scroller {
    flex-direction: column; /* Arrange items vertically */
    gap: 2rem;
    align-items: center; /* Center the items horizontally */
  }

  .team {
    padding: 1rem;
  }
}
